$cepp-white: #fff;
$cepp-green: #48a441;
$cepp-blue: #343f79;
$cepp-orange: #de5a3a;
$cepp-black: #151515;
$cepp-grey-darker: #4d4d4d;
$cepp-grey-dark: #696969;
$cepp-grey: #737373;
$cepp-grey-light: #888;
$cepp-grey-lighter: #dee0e9;
$cepp-grey-lightest: #f5f7f9;
