@import "_variables";
@import "_mixins";
@import "default";
@import "footer";

@font-face {
  font-family: "Proxima Nova";
  font-weight: 400;
  src: url($ProximaNovaRegular);
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 600;
  src: url($ProximaNovaSemibold);
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 700;
  src: url($ProximaNovaBold);
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 900;
  src: url($ProximaNovaExtrabold);
}

.sidebar-wrapper {
  border-radius: 0 !important;
  height: fit-content !important;
}

.search-container {
  .search-header {
    .search-filters {
      .advanced-filters > summary {
        color: $cepp-orange;

        &::before {
          color: $cepp-black;
        }
      }

    }
  }

  .search-advanced {
    .search-results {
      .topic-title {
        color: $cepp-orange;
        text-decoration: underline;
      }
    }
  }

  .search-header, .search-bar, .search-filters, .search-advanced-filters {
    background: #E8E8E8 !important;
  }

  .search-page-heading span.term {
    background: #D7D7D7;
  }
}

#reply-control {
  .grippie {
    background: $cepp-blue;
  }

  .topic-link {
    color: $cepp-blue;
  }
}

.btn-primary {
  background: $cepp-blue;
}

.d-editor-textarea-wrapper {
  &.in-focus {
    @include default-focus;
  }
}

.select-kit {
  &.multi-select {
    &.is-expanded .multi-select-header,
    .multi-select-header:focus {
      @include default-focus;
    }
  }

  &.single-select {
    &.is-expanded .select-kit-header:not(.btn),
    .select-kit-header:not(.btn):focus,
    .select-kit-header:not(.btn):active {
      @include default-focus;
    }

    .select-kit-header {
      &:focus {
        @include default-focus;
      }
    }
  }
}

input {
  &[type="text"],
  &[type="password"],
  &[type="datetime"],
  &[type="datetime-local"],
  &[type="date"],
  &[type="month"],
  &[type="time"],
  &[type="week"],
  &[type="number"],
  &[type="email"],
  &[type="url"],
  &[type="search"],
  &[type="tel"],
  &[type="color"] {
    &:focus {
      @include default-focus;
    }
  }
}

.d-date-input {
  .date-picker {
    &:focus {
      @include default-focus;
    }
  }
}

.category-breadcrumb {
  display: none;
}

#create-topic {
  @include primary-button;
}

#topic-footer-buttons {
  .create {
    @include primary-button;
  }
}

#sidebar-section-content-quick-links {
  .sidebar-section-link {
    &-prefix {
      display: none;
    }

    &-content-text {
      padding: 5px 27px;
      color: $cepp-orange;
      font-weight: 600;
      line-height: 18px;
      white-space: normal;
    }
  }
}

.topic-map, .timeline-scrollarea-wrapper {
  display: none;
}

.topic-body {
  a {
    color: $cepp-orange;
    text-decoration: underline;
  }

  .full-name {
    a {
      text-decoration: none;
    }
  }
}

#simple-container {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Proxima Nova', 'Open Sans';
  }

  .btn-primary:hover {
    background: #1955bd;
  }
}

#reply-control, #bookmark-reminder-modal {
  input, .select-kit-header, .d-editor-textarea-wrapper {
    border-radius: 0;
  }
}

#quick-access-profile li span {
  text-transform: uppercase;
}

#quick-access-replies a {
  color: $cepp-orange;
}

.tippy-box {
  border: none;
}

.sidebar-section-link-wrapper[data-list-item-name="all-categories"] {
  display: none;
}

.nav-item_new, .nav-item_unread {
  display: none !important;
}

.topic-list {
  th.posters span {
    display: none;
  }

  td.author {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      margin: 0 15px;
    }
  }

  .main-link {
    a[href^="/u/"] {
      color: $cepp-orange;
    }
  }
}
